@model GrupoThera.Entities.Models.AreaTecnica.ATOSModel
@{
    ViewBag.Title = "ATOServicioItemView";
    var intValue = Model.ordenServicio.ordenServicioId;
    string hexValue = intValue.ToString("X");
    string idOtPreliminar = intValue.ToString();
}

<div class="block">
    <div class="col-xs-2 col-md-2 animated bounceIn text-center" data-toggle="appear" data-offset="-100" data-class="animated bounceIn" data-timeout="300">
        <div class="itemXL item-circle bg-white border push-10">
            <i class="si si-wrench text-primary"></i>
        </div>
    </div>
    <div class="col-xs-9 col-md-9 animated bounceIn" data-toggle="appear" data-offset="-100" data-class="animated bounceIn" data-timeout="300">
        <h2>Area Tecnica [ Orden Servicio ] #@idOtPreliminar</h2>
        <br />
        <div class="row items-push">
            <div class="col-sm-6">
                <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Cliente</h3>
                <address>
                    @Html.DisplayFor(modelItem => Model.ordenServicio.Cliente.rfc)<br>
                    @Html.DisplayFor(modelItem => Model.ordenServicio.Cliente.direccion)<br>
                    @Html.DisplayFor(modelItem => Model.ordenServicio.Cliente.email)<br>
                    <i class="si si-call-end"></i> @Html.DisplayFor(modelItem => Model.ordenServicio.Cliente.telefono)
                </address>
            </div>
            <div class="col-sm-6">
                <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Generales</h3>
                <address>
                    <strong> Pago: </strong> @Html.DisplayFor(modelItem => Model.ordenServicio.FormaPago.pago)<br>
                    <strong> Clasificacion: </strong> @Html.DisplayFor(modelItem => Model.ordenServicio.ClasificacionServicio.descripcion)<br>
                    <strong> Moneda: </strong> @Html.DisplayFor(modelItem => Model.ordenServicio.Moneda.moneda) - @Html.DisplayFor(modelItem => Model.ordenServicio.Moneda.tipoCambio)<br>
                </address>
            </div>
            <div class="col-sm-2">
                @using (Html.BeginForm("OrdenTrabajoServicioWelfare", "Documents", new { documentId = Model.ordenServicio.ordenServicioId }, FormMethod.Post))
                {
                    <button class="btn btn-sm btn-info push-5-r push-10" type="submit"><i class="fa fa-download"></i> Descarga PDF </button>
                }
            </div>
            <div class="col-sm-12">
                <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Comentarios</h3>
                <p>@Html.DisplayFor(modelItem => Model.ordenServicio.comentarios)</p>
            </div>
            <div class="col-sm-12">
                <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Direccion Servicio</h3>
                <p>@Html.DisplayFor(modelItem => Model.ordenServicio.direccionServicio)</p>
            </div>
            <div class="col-sm-12">
                <h3 class="h5 font-w600 text-uppercase push-10"><i class="fa fa-check text-primary push-5-r"></i> Listado Partidas</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">Identificador</th>
                            <th>Servicio</th>
                            <th class="hidden-xs" style="width: 15%;">Numero Serie</th>
                            <th class="text-center" style="width: 100px;">Marca</th>
                            <th class="text-center" style="width: 100px;">Modelo</th>
                            <th class="text-center" style="width: 500px;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ordenServicio.OSPrePartidas)
                        {
                            Model.selectedStatusOrdenPartidas = (int)item.statusOrdenPartidasId;
                            var idPartida = item.oServicioPartidasId;
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.label)</td>
                                <td>
                                    <p class="font-w600 push-10">@Html.DisplayFor(modelItem => item.Servicio.clave)</p>
                                    <div class="text-muted">@Html.DisplayFor(modelItem => item.Servicio.descripcion)</div>
                                </td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.serie)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.marca)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.modelo)</td>
                                <td class="text-center" id="td-@idPartida">
                                    @if (item.StatusOrdenPartidas.codigo.Equals("ABIERTA"))
                                    {
                                        @Html.DropDownListFor(model => model.selectedStatusOrdenPartidas, Model.listStatusOrdenPartidasInitial, new { @class = "form-control statusOrdenPartidasView", @id = idPartida })
                                    }
                                    else if ( item.StatusOrdenPartidas.codigo.Equals("PROCESO") ||
                                              item.StatusOrdenPartidas.codigo.Equals("PROGRAMADA") && ( !Model.ordenServicio.StatusOrdenServicio.codigo.Equals("CANCELA") ||
                                                                                                        !Model.ordenServicio.StatusOrdenServicio.codigo.Equals("REALIZADA") ||
                                                                                                        !Model.ordenServicio.StatusOrdenServicio.codigo.Equals("XCANCELAR")))
                                    {
                                        @Html.DropDownListFor(model => model.selectedStatusOrdenPartidas, Model.listStatusOrdenPartidasInitial, new { @class = "form-control statusOrdenPartidasView", @id = idPartida })
                                    } else {
                                        <a> <strong class="text-default-darker"> @item.StatusOrdenPartidas.descripcion </strong> </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
