@model GrupoThera.Entities.Models.AreaTecnica.ATModel
@{
    ViewBag.Title = "ATOTPreliminarItem";

    var today = Model.abiertas.Count;
    var previus = Model.pendientes.Count;
}

@if (Model.OTPreliminaresActual.Count == 0)
{
    <h3 style="margin-left:10%" class="block-title text-city"><strong>[</strong> No Resultados <strong>]</strong> </h3>
    <hr />
}
else
{
    <table class="table table-hover table-vcenter">
        <tbody>
            @foreach (var item in Model.OTPreliminaresActual)

                {
                    var time = item.fechaCreacion;
                    var id = item.otPreliminarId;
                    var idOTPreliminar = "";
                    if (item.noDoc != 0)
                    {
                        idOTPreliminar = item.noDoc.ToString() + "-" + item.noDocInt.ToString();
                    }
                    else
                    {
                        idOTPreliminar = item.otPreliminarId.ToString();
                    }
                    <tr>
                        <td class="font-w600 text-center" style="width: 80px;">#@idOTPreliminar</td>
                        <td>
                            <a class="font-w600" data-toggle="modal" data-target="#modal-ticket" href="#">@Html.DisplayFor(modelItem => item.comentarios)</a>
                            <div class="text-muted">
                                <time class="timeago" datetime="@time.ToString("yyyy-MM-dd HH:mm:ss")"> </time> por <a href="javascript:void(0)">@Html.DisplayFor(modelItem => item.owner)</a> | @time.ToString("yyyy-MM-dd HH:mm tt") 
                            </div>
                        </td>
                        <td>
                            <em>Cliente: @Html.DisplayFor(modelItem => item.Cliente.razonSocial)</em>
                        </td>
                        <td>
                            <div class="btn-group" style="width: 1px;">
                                <a id="@id" class="btn btn-xs btn-default OTPreliminarView" data-original-title="Ver" data-toggle="tooltip"><i class="fa fa-street-view"></i></a>
                            </div>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
}


