@{
    ViewBag.Title = "General Menu";
    var isAllmightie = false;
    var priviledgesList = (List<string>)HttpContext.Current.Session["ListRoles"];

    if (priviledgesList != null && priviledgesList.Contains("Developer"))
    {
        isAllmightie = true;
    }
    else
    {
        isAllmightie = false;
    }
}

<ul class="nav-main">
    <li>
        <a href="@(Url.Action("Index", "Home"))"><i class="si si-home"></i><span class="sidebar-mini-hide">Home</span></a>
    </li>
    <li class="nav-main-heading"><span class="sidebar-mini-hide">Modulos</span></li>

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-basket"></i><span class="sidebar-mini-hide">Ventas</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("V001NEWCOT")) || isAllmightie)
                {
                <a href="@Url.Action("NuevaCotizacion","Cotizacion")"> Nueva Cotizacion </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Nueva Cotizacion
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("V002SEARCHCOT")) || isAllmightie)
                {
                    <a href="@Url.Action("SearchCotizacion","Cotizacion")"> Buscar Cotizaciones </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Buscar Cotizaciones
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("V003OTPRE")) || isAllmightie)
                {
                    <a href="@Url.Action("OTPreliminar","OTPreliminar")"> Orden Trabajo Preliminar </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Orden Trabajo Preliminar
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("V004OTSERVICE")) || isAllmightie)
                {
                    <a href="@Url.Action("OServicio","Venta")"> Orden Trabajo Servicio </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Orden Trabajo Servicio
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Ventas-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-chemistry"></i><span class="sidebar-mini-hide">Laboratorio</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("L001OTPRE")) || isAllmightie)
                {
                    <a href="@Url.Action("LabOTPreliminares","Laboratorio")"> Orden Trabajo Preliminar </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Orden Trabajo Preliminar
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Laboratorio-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wrench"></i><span class="sidebar-mini-hide">Area Tecnica</span></a>
        <ul>
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("AT001OTPRE")) || isAllmightie)
                {
                <a href="@Url.Action("ATOTPreliminar","AreaTecnica")"> Orden Trabajo Preliminar</a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Orden Trabajo Preliminar
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("AT002OTSERVICE")) || isAllmightie)
                {
                    <a href="@Url.Action("ATOServicio","AreaTecnica")"> Orden Servicio</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Orden Servicio
                    </a>
                }
            </li>

        </ul>
    </li> <!-- Area Tecnica-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-usd "></i><span class="sidebar-mini-hide">Facturacion</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("FCNewFacturacion")) || isAllmightie)
                {
                <a href="@Url.Action("NewFacturacion","Facturacion")"> Nueva Factura </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Nueva Factura
                </a>
                }
            </li>
        </ul>
    </li> <!-- Facturacion-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-wpforms"></i><span class="sidebar-mini-hide">Remisiones</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("RMNewRemision")) || isAllmightie)
                {
                <a href="@Url.Action("NewRemision","Remision")"> Nueva Remision </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Nueva Remision
                </a>
                }
            </li>
        </ul>
    </li> <!-- Remisiones-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-shopping-cart"></i><span class="sidebar-mini-hide">Compras</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("FCNewCompras")) || isAllmightie)
                {
                <a href="@Url.Action("NewCompra","Compra")"> Nueva Compra </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Nueva Compra
                </a>
                }
            </li>
        </ul>
    </li> <!-- Compras-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-drawer"></i><span class="sidebar-mini-hide">Informes</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("INCaptura")) || isAllmightie)
                {
                <a href="@Url.Action("CapturaInforme","Informe")"> Captura Informes </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Captura Informes
                </a>
                }
            </li>
        </ul>
    </li> <!-- Informes -->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-layers"></i><span class="sidebar-mini-hide">Catalogos</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C002Empresa")) || isAllmightie)
                {
                <a href="@Url.Action("Empresa","Catalog")"> Empresa </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Empresa
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C003Cliente")) || isAllmightie)
                {
                <a href="@Url.Action("Cliente","Catalog")"> Cliente </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Cliente
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C005Provedores")) || isAllmightie)
                {
                <a href="@Url.Action("Provedor","Catalog")"> Provedor </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Provedor
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C005Giros")) || isAllmightie)
                {
                <a href="@Url.Action("Giro","Catalog")"> Giro </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Giro
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C006Clasificaciones")) || isAllmightie)
                {
                <a href="@Url.Action("ClasificacionServicio","Catalog")"> Clasificacion Servicio</a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Clasificacion Servicio
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C007AreasServicio")) || isAllmightie)
                {
                <a href="@Url.Action("AreaServicio","Catalog")"> Area de Servicio </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Area de Servicio
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C009Frecuencias")) || isAllmightie)
                {
                <a href="@Url.Action("FrecuenciaServicio","Catalog")"> Frecuencia Servicio</a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Frecuencia Servicio
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C011Moneda")) || isAllmightie)
                {
                <a href="@Url.Action("Moneda","Catalog")"> Moneda  </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Moneda
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C004Servicios")) || isAllmightie)
                {
                <a href="@Url.Action("Servicio","Catalog")"> Servicio  </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Servicio
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C0012Entrega")) || isAllmightie)
                {
                <a href="@Url.Action("TiempoEntrega","Catalog")">Tiempo de Entrega  </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Tiempo de Entrega
                </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("C013Configuracion")) || isAllmightie)
                {
                <a href="@Url.Action("Configuracion","Catalog")"> Configuracion </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Configuracion
                </a>
                }
            </li>
        </ul>
    </li> <!-- Catalogos-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-bar-chart"></i><span class="sidebar-mini-hide">Reportes</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("RPNewReport")) || isAllmightie)
                {
                <a href="@Url.Action("NewReport","Reporte")"> Nuevo Reporte </a>
                }
                else
                {
                <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                    <span class="fa fa-exclamation-triangle"></span>
                    Nuevo Reporte
                </a>
                }
            </li>
        </ul>
    </li> <!-- Reportes -->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-cogs"></i><span class="sidebar-mini-hide">Administracion</span></a>
        <ul>
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("A001NEUSER")) || isAllmightie)
                {
                    <a href="@Url.Action("NewEditUser","Admin")"> Nuevo | Edicion Usuario </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Nuevo | Edicion Usuario
                    </a>
                }
            </li>
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("A002ROLASS")) || isAllmightie)
                {
                    <a href="@Url.Action("AssignRoles","Admin")"> Asignacion de Roles Usuario </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Asignacion de Roles
                    </a>
                }
            </li>
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("A003SUCASS")) || isAllmightie)
                {
                    <a href="@Url.Action("AssignSucursales","Admin")"> Asignacion de Sucursales Usuario </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fa fa-exclamation-triangle"></span>
                        Asignacion de Roles
                    </a>
                }
            </li>

        </ul>
    </li> <!-- Admin -->
</ul> 