@{
    ViewBag.Title = "General Menu";
    var isAllmightie = false;
    var priviledgesList = (List<string>)HttpContext.Current.Session["ListRoles"];

    if (priviledgesList != null && priviledgesList.Contains("Developer"))
    {
        isAllmightie = true;
    }
    else
    {
        isAllmightie = false;
    }
}

<ul class="nav-main">
    <li>
        <a href="@(Url.Action("Index", "Home"))"><i class="si si-home"></i><span class="sidebar-mini-hide">Home</span></a>
    </li>
    <li class="nav-main-heading"><span class="sidebar-mini-hide">Modulos</span></li>

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-equalizer"></i><span class="sidebar-mini-hide">Cotizaciones</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("NuevaCotizacion")) || isAllmightie)
                {
                    <a href="@Url.Action("NuevaCotizacion","Cotizacion")"> Nueva Cotizacion </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Nueva Cotizacion
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("SearchCotizacion")) || isAllmightie)
                {
                    <a href="@Url.Action("SearchCotizacion","Cotizacion")"> Buscar Cotizaciones </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Buscar Cotizaciones
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("ReportCotizacion")) || isAllmightie)
                {
                    <a href="@Url.Action("ReportCotizacion","Cotizacion")"> Reportes </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Reportes
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Cotizaciones-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-feed"></i><span class="sidebar-mini-hide">Orden de Trabajo</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("OTPreliminar")) || isAllmightie)
                {
                    <a href="@Url.Action("OTPreliminar","OTPreliminar")"> Orden Trabajo Preliminar </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Orden Trabajo Preliminar
                    </a>
                }
            </li>
        </ul>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("OTServicio")) || isAllmightie)
                {
                    <a href="@Url.Action("OTServicio","OTPreliminar")"> Orden Trabajo Servicio </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Orden Trabajo Servicio
                    </a>
                }
            </li>
        </ul>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("OTReporte")) || isAllmightie)
                {
                    <a href="@Url.Action("OTReporte","OTPreliminar")"> Reportes Orden Trabajo </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Reportes Orden Trabajo
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Orden Trabajo-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wrench"></i><span class="sidebar-mini-hide">Area Tecnica</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("ATPreliminar")) || isAllmightie)
                {
                    <a href="@Url.Action("ATPreliminar","AreaTecnica")"> Orden Trabajo Preliminar</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Orden Trabajo Preliminar
                    </a>
                }
            </li>
        </ul>
        <ul>
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("ATServicio")) || isAllmightie)
                {
                    <a href="@Url.Action("ATServicio","AreaTecnica")"> Orden Trabajo Servicio</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Orden Trabajo Servicio
                    </a>
                }
            </li>
        </ul>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("ATReporte")) || isAllmightie)
                {
                    <a href="@Url.Action("ATReporte","AreaTecnica")"> Reportes Orden Trabajo</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Reportes Orden Trabajo
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Area Tecnica-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-chemistry"></i><span class="sidebar-mini-hide">Laboratorio</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("LBLaboratorio")) || isAllmightie)
                {
                    <a href="@Url.Action("LBLaboratorio","Laboratorio")"> Laboratorio </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Laboratorio
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Laboratorio-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-usd "></i><span class="sidebar-mini-hide">Facturacion</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("FCNewFacturacion")) || isAllmightie)
                {
                    <a href="@Url.Action("NewFacturacion","Facturacion")"> Nueva Factura </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Nueva Factura
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Facturacion-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-wpforms"></i><span class="sidebar-mini-hide">Remisiones</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("RMNewRemision")) || isAllmightie)
                {
                    <a href="@Url.Action("NewRemision","Remision")"> Nueva Remision </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Nueva Remision
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Remisiones-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-shopping-cart"></i><span class="sidebar-mini-hide">Compras</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("FCNewCompras")) || isAllmightie)
                {
                    <a href="@Url.Action("NewCompra","Compra")"> Nueva Compra </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Nueva Compra
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Compras-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-drawer"></i><span class="sidebar-mini-hide">Informes</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("INCaptura")) || isAllmightie)
                {
                    <a href="@Url.Action("CapturaInforme","Informe")"> Captura Informes </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Captura Informes
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Informes -->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-layers"></i><span class="sidebar-mini-hide">Catalogos</span></a>
        <ul>
            
            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Empresa")) || isAllmightie)
                {
                    <a href="@Url.Action("Empresa","Catalog")"> Empresa </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Empresa
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Cliente")) || isAllmightie)
                {
                    <a href="@Url.Action("Cliente","Catalog")"> Cliente </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Cliente
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Provedor")) || isAllmightie)
                {
                    <a href="@Url.Action("Provedor","Catalog")"> Provedor </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Provedor
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Giro")) || isAllmightie)
                {
                    <a href="@Url.Action("Giro","Catalog")"> Giro </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>

                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("ClasificacionServicio")) || isAllmightie)
                {
                    <a href="@Url.Action("ClasificacionServicio","Catalog")"> Clasificacion Servicio</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Clasificacion Servicio
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("AreaServicio")) || isAllmightie)
                {
                    <a href="@Url.Action("AreaServicio","Catalog")"> Area de Servicio </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Area de Servicio
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("FrecuenciaServicio")) || isAllmightie)
                {
                    <a href="@Url.Action("FrecuenciaServicio","Catalog")"> Frecuencia Servicio</a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Frecuencia Servicio
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Moneda")) || isAllmightie)
                {
                    <a href="@Url.Action("Moneda","Catalog")"> Moneda  </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Moneda
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Servicio")) || isAllmightie)
                {
                    <a href="@Url.Action("Servicio","Catalog")"> Servicio  </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Servicio
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("TiempoEntrega")) || isAllmightie)
                {
                    <a href="@Url.Action("TiempoEntrega","Catalog")">Tiempo de Entrega  </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Tiempo de Entrega
                    </a>
                }
            </li>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("Configuracion")) || isAllmightie)
                {
                    <a href="@Url.Action("Configuracion","Catalog")"> Configuracion </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Configuracion
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Catalogos-->

    <li>
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-bar-chart"></i><span class="sidebar-mini-hide">Reportes</span></a>
        <ul>

            <li>
                @if ((priviledgesList != null && priviledgesList.Contains("RPNewReport")) || isAllmightie)
                {
                    <a href="@Url.Action("NewReport","Reporte")"> Nuevo Reporte </a>
                }
                else
                {
                    <a disabled style="color:#ff6b6b;" class="linkDisabled" href="">
                        <span class="fs fa-exclamation-triangle"></span>
                        Nuevo Reporte
                    </a>
                }
            </li>
        </ul>
    </li> <!-- Reportes -->

</ul> 