@model GrupoThera.Entities.Models.Admin.AdminModel
@{
    ViewBag.Title = "AssignRoles";
}

<link href="~/Content/plugins/multiSelect/css/multi-select.css" rel="stylesheet" />

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                <span class="fa fa-cogs"></span> Administracion [ <strong class="text-success"> Asignacion de Roles a Usuarios </strong> ]
            </h1>
            <h2 class="page-heading text-success" style="margin-left:10%">
                <span id="messageSuccess"></span>
            </h2>
        </div>
    </div>
</div>
<div id="errorFocus">

</div>

@using (Ajax.BeginForm("getRolesbyUser", "Admin", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divRolesContent",
    OnSuccess = "SuccessGetRolesByUser"
}))
{
    <div class="content content-narrow">
        <div class="content-grid push-10">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-material form-material-primary floating">
                            @Html.DropDownListFor(model => model.selectedEmpresa, Model.listEmpresas, new { @id = "empresaSource", @class = "form-control required", @disabled = "disabled" })
                            <label for="material-gridl">Empresa</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-material form-material-primary floating">
                            @Html.DropDownListFor(model => model.selectedSucursal, Model.listSucursal, new { @id = "sucursalSource", @class = "form-control required" })
                            <label for="material-gridl">Sucursal</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-material form-material-primary floating">
                            @Html.DropDownListFor(model => model.selectedUsuario, Model.listSucAssignedByUser, new { @id = "usuarioSource", @class = "form-control required" })
                            <label for="material-gridl">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-lg-2">
                    <div class="form-group">
                        <div class="form-material form-material-primary floating">

                            <button class="btn btn-sm btn-info push-5-r push-10" type="submit"><i class="fa fa-plus"></i> Agregar Roles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="content bg-gray-lighter">
    <div class="block block-bordered">
        <div class="block-header">
            <h3 class="block-title">Roles Asignados</h3>
        </div>
        <div class="col-md-12">
            <div class="block-content" id="divRolesContent">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="@Url.Content("~/Content/plugins/multiSelect/js/jquery.multi-select.js")"></script>

    <script>

        $(document).ready(function () {

            $("#spin").spinner({
                color: "black"
                  , background: "rgba(189, 227, 231, .5)"
                  , html: "<i class='fa fa-repeat' style='color: gray;'> </i>"
                  , spin: true
            });

            $('#sucursalSource').change(function () {
                var data = [];
                $.getJSON('@Url.Action("getUserByEmpresaSucursal", "Admin")', { idSucursal: $('#sucursalSource :selected').val() }, function (data) {
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                    $("#usuarioSource").html(data.join(""));
                });
            });
        });

        function SuccessGetRolesByUser() {
            $('#my-select').multiSelect({
                afterSelect: function (values) {
                    $.post('@Url.Action("AddRoleEmpSucUsuMap", "Admin")', { idEmpSucMap: $('#empSucUsuMap').val(), idRol: values }, function (data) {
                        createMessageSuccess("OK: Agregado correctamente ");
                    })
                    .fail(function () {
                        createMessageDanger("ERROR: Cuando se agrego el rol ");
                    });
                },
                afterDeselect: function (values) {
                    $.post('@Url.Action("DeleteRoleEmpSucUsuMap", "Admin")', { idEmpSucMap: $('#empSucUsuMap').val(), idRol: values }, function (data) {
                        createMessageWarning("OK: Eliminado correctamente ");
                    })
                    .fail(function () {
                        createMessageDanger("ERROR: Al eliminar el rol ");
                    });
                }
            });
        }
    </script>
}


