@model GrupoThera.Entities.Models.Cotizacion.CotizacionModel
@{
    ViewBag.Title = "NuevaCotizacionNewLineConcept";
    string Rowid = Guid.NewGuid().ToString();
    var total = 0m;
    var cantidad = 0m;
    if (Model.cotizacionField.priceSuggest == 0)
    {
        total = Model.cotizacionField.priceFinal = Model.cotizacionField.priceSelected;
    }
    else {
        total = Model.cotizacionField.priceFinal = Model.cotizacionField.priceSuggest;
        Model.cotizacionField.approval = true;
    }
    cantidad = Model.cotizacionField.qty;
    total *= cantidad;
}

<tr id='@Rowid'>
    <td id="CANTIDAD" align="center">
        <label class="qty" totalQty="@cantidad">@cantidad</label>
        @Html.HiddenFor(model => model.cotizacionField.qty, new { Name = string.Format("cotizacionFields[{0}].qty", Rowid) })
    </td>
    <td id="PRICE" align="center">
        $ <label class="sum" totalValue="@total">@total</label>
        @Html.HiddenFor(model => model.cotizacionField.priceFinal, new { Name = string.Format("cotizacionFields[{0}].priceFinal", Rowid) })
        @Html.HiddenFor(model => model.cotizacionField.approval, new { Name = string.Format("cotizacionFields[{0}].approval", Rowid) })
    </td>
    <td id="APPROVATION" align="center">
        @if (Model.cotizacionField.approval == true) { 
            <span class="label label-warning">Aprobacion</span>
        }
        else
        {
            <span class="label label-primary">OK</span>
        }
    </td>
    <td id="NOSERIE" align="center">
        @Html.DisplayFor(modelItem => Model.cotizacionField.noSerie)
        @Html.HiddenFor(model => model.cotizacionField.noSerie, new { Name = string.Format("cotizacionFields[{0}].noSerie", Rowid) })
    </td>
    <td id="MARCA" align="center">
        @Html.DisplayFor(modelItem => Model.cotizacionField.marca)
        @Html.HiddenFor(model => model.cotizacionField.marca, new { Name = string.Format("cotizacionFields[{0}].marca", Rowid) })
    </td>
    <td id="MODELO" align="center">
        @Html.DisplayFor(modelItem => Model.cotizacionField.model)
        @Html.HiddenFor(model => model.cotizacionField.model, new { Name = string.Format("cotizacionFields[{0}].model", Rowid) })
    </td>
    <td id="SERVICIO" align="center">
        @Html.DisplayFor(modelItem => Model.cotizacionField.claveServicioText)
        @Html.HiddenFor(model => model.cotizacionField.claveServicioText, new { Name = string.Format("cotizacionFields[{0}].claveServicioText", Rowid) })
        @Html.HiddenFor(model => model.cotizacionField.claveServicioCode, new { Name = string.Format("cotizacionFields[{0}].claveServicioCode", Rowid) })
    </td>
    <td id="COMENTARIO" align="center">
        @Html.DisplayFor(modelItem => Model.cotizacionField.comentarios)
        @Html.HiddenFor(model => model.cotizacionField.comentarios, new { Name = string.Format("cotizacionFields[{0}].comentarios", Rowid) })
    </td>
    <td class="text-center deleteRowsTable" >
        <input type="hidden" name="cotizacionFields.Index" value="@Rowid" />
        <div class="btn-group">
            <button id="@Rowid" title="" class="btn btn-xs btn-default" type="button" data-original-title="Borrar Partida" data-toggle="tooltip"><i class="fa fa-trash-o"></i></button>
        </div>
    </td>
</tr>



