@model GrupoThera.Entities.Models.Cotizacion.CotizacionSearch
@{
    ViewBag.Title = "SearchCotizacion";
    var abiertas = Model.abiertas.Count;
    var aprobacion = Model.aprobacion.Count;
    var cerrados = Model.cerrados.Count;
    var canceladas = Model.canceladas.Count;
    var rechazados = Model.rechazadas.Count;
    var enviadoCliente = Model.clientes.Count;
    var total = Model.listaPreliminares.Count;

}

<link rel="stylesheet" href="~/Content/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="~/Content/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="~/Content/assets/js/plugins/select2/select2-bootstrap.min.css">
<link rel="stylesheet" href="~/Content/assets/js/plugins/select2/select2.css" />
<link rel="stylesheet" href="~/Content/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
<link rel="stylesheet" href="~/Content/assets/js/plugins/ion-rangeslider/css/ion.rangeSlider.skinHTML5.min.css">


<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Busqueda Preliminares <small> </small>
            </h1>
        </div>
    </div>
</div>
<div id="searchCotizacionError">

</div>

<div class="content">
    <div class="row">
        <div class="col-sm-5 col-lg-3">
            <div class="collapse navbar-collapse remove-padding" id="tickets-nav">
                <!-- Preliminares Menu -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button data-toggle="modal" data-target="#modal-compose" type="button"><i class="si si-settings"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Preliminares</h3>
                    </div>
                    <div class="block-content">
                        @Html.Partial("SearchCotizacionCounters", Model)
                    </div>
                </div>
                <!-- END Tickets Menu -->
                <!-- bottones Estados Stats -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button"><i class="si si-settings"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Acciones</h3>
                    </div>
                    <div class="block-content">
                        @Html.Partial("SearchCotizacionStatus", Model)
                    </div>
                </div>
                <!-- END Quick Stats -->
            </div>
            <!-- END Collapsible Tickets Navigation -->
        </div>
        <div class="col-sm-12 col-lg-9">
            <!-- Filtos List -->
            <div class="block block-opt-hidden" id="filtros">
                @using (Ajax.BeginForm("searchCotizacionFilter", "Cotizacion",
                                                        new AjaxOptions
                                                        {
                                                            InsertionMode = InsertionMode.Replace,
                                                            UpdateTargetId = "divItemsCotizacion",
                                                            OnSuccess = "SuccessSeachCotizacion",
                                                            OnFailure = "FailureSeachCotizacion",
                                                        }))
                {
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-down"></i></button>
                            </li>
                            <li>
                                <button type="submit"><i class="fa fa-search-plus"></i> Aplicar Filtro</button>
                            </li>
                        </ul>
                        <h3 class="block-title text-normal"><strong>[</strong> Filtros <strong>]</strong> </h3>
                    </div>
                    <div class="block-content">
                        <div class="row">
                            @Html.Partial("SearchCotizacionFilters", Model)
                        </div>
                    </div>
                }
            </div>
            <!-- END Tickets List -->
            <!-- Filtros List -->
            <div class="block" id="cotizaciones">
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button class="js-tooltip" title="10 Tickets Anteriores" type="button" data-toggle="block-option"><i class="si si-arrow-left"></i></button>
                        </li>
                        <li>
                            <button class="js-tooltip" title="Siguientes 10 Tickets" type="button" data-toggle="block-option"><i class="si si-arrow-right"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                    </ul>
                    <div class="block-title text-normal">
                        <h3 class="block-title"><strong>[</strong> Cotizaciones <strong>]</strong> </h3>
                    </div>
                </div>
                <div class="block-content">
                    <!-- Tickets Table -->
                    <div class="pull-r-l pre-scrollable" id="divItemsCotizacion">
                        @Html.Partial("SearchCotizacionItem", Model)
                    </div>
                    <!-- END Tickets Table -->
                </div>
            </div>
            <!-- END Tickets List -->
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="block">
                <div class="block-content">
                    <div class="row items-push" id="acciones">
                        <div class="col-sm-4 col-lg-4">
                            <h3 class="block-title text-primary"><strong>[</strong> Cotizacion Seleccionada <strong>] </strong> </h3>
                            <h3 class="block-title" style="margin-left:10px"><strong> No Seleccionada</strong> </h3>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="@Url.Content("~/Content/plugins/timeAgo/js/jquery.timeago.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/bootstrap-datetimepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js")"></script>

    <script>
        App.initHelpers(['datepicker', 'datetimepicker', 'select2', 'rangeslider']);

        $("time.timeago").timeago();

        $(document).ready(function () {

            $('.onlyNumberInteger').keyup(function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });

        function SuccessSeachCotizacion(response) {

            if (response.success) {
                $('#divItemsCotizacion').html(response.cotizacionHtml);
                $("time.timeago").timeago();
            } else {
                $('#searchCotizacionError').html(response.errorHtml);
            }
            setTimeout(function () {
                $("#spin").hide();
            }, 800);
        }

        function FailureSeachCotizacion(response) {
            $('#searchCotizacionError').html(response.resumeHtml);
            $("#spin").hide();
        }
    </script>
}


