@model GrupoThera.Entities.Entity.OTPre.OTPreliminar
@{
    ViewBag.Title = "SearchOTPView";
    var intValue = Model.otPreliminarId;
    string hexValue = intValue.ToString("X");
    string idOtPreliminar = "";

    if (Model.noDoc != 0)
    {
        idOtPreliminar = Model.noDoc.ToString() + "-" + Model.noDocInt.ToString();
    }
    else
    {
        idOtPreliminar = intValue.ToString();
    }

}
<div class="block">
    <div class="block-header">
        <ul class="block-options">
            <li>
                <a class="btn btn-noborder" onclick="goToByScroll('searchOTPreliminarError');"><i class="fa fa-search"></i> Ir Filtros</a>
            </li>
            <li>
                @using (Html.BeginForm("CotizacionServicioWelfare", "Documents", new { documentId = Model.otPreliminarId }, FormMethod.Post))
                {
                    <a onclick='this.parentNode.submit(); return false;' class="btn btn-noborder"><i class="fa fa-download"></i> Descargar</a>
                }
            </li>
            @if (!Model.StatusOTPreliminar.codigo.Equals("ENVLAB") && !Model.StatusOTPreliminar.codigo.Equals("CERRADA") &&
                  !Model.StatusOTPreliminar.codigo.Equals("OBSOLETA") && !Model.StatusOTPreliminar.codigo.Equals("CANCEL") &&
                  !Model.StatusOTPreliminar.codigo.Equals("RECHAZADA"))
            {
                <li>
                    <a class="btn btn-noborder" href="SearchOTPEdition/?otppreliminarId=@hexValue" onclick="reloadDivOTP();" target="_blank"><i class="fa fa-edit"></i> Edicion</a>
                </li>
            }
            @if ( !Model.StatusOTPreliminar.codigo.Equals("CERRADA") &&
                  !Model.StatusOTPreliminar.codigo.Equals("OBSOLETA") && !Model.StatusOTPreliminar.codigo.Equals("CANCEL"))
            {
                <li>
                    <a class="btn btn-noborder statusOTPreliminar" id="CANCEL"><i class="fa fa-times-circle-o"></i> Cancelar</a>
                </li>
            }
        </ul>
    </div>
    <div class="block-content block-content-narrow">
        <!-- Invoice Info -->
        <div class="h1 text-center push-30-t push-30 text-primary">OT Preliminar #@idOtPreliminar</div>
        <hr class="hidden-print">
        <div class="row items-push-2x">
            <!-- Client Info -->
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <p class="h2 font-w400 push-5">Cliente</p>
                <address>
                    @Html.DisplayFor(modelItem => Model.Cliente.rfc)<br>
                    @Html.DisplayFor(modelItem => Model.Cliente.direccion)<br>
                    @Html.DisplayFor(modelItem => Model.Cliente.email)<br>
                    <i class="si si-call-end"></i> @Html.DisplayFor(modelItem => Model.Cliente.telefono)
                </address>
            </div>
            <!-- END Client Info -->
            <!-- General Info -->
            <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-6 text-right">
                <p class="h2 font-w400 push-5">Generales</p>
                <address>
                    <strong> Pago: </strong> @Html.DisplayFor(modelItem => Model.FormaPago.pago)<br>
                    <strong> Clasificacion: </strong> @Html.DisplayFor(modelItem => Model.ClasificacionServicio.descripcion)<br>
                    <strong> Moneda: </strong> @Html.DisplayFor(modelItem => Model.Moneda.moneda) - @Html.DisplayFor(modelItem => Model.Moneda.tipoCambio)<br>
                </address>
            </div>
            <!-- END General Info -->
        </div>
        <!-- END Invoice Info -->
        <!-- Table -->
        <div class="table-responsive push-50">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;">Cantidad</th>
                        <th>Servicio</th>
                            <th class="text-center" style="width: 100px;">Numero Serie</th>
                        <th class="text-right" style="width: 120px;">Marca</th>
                        <th class="text-right" style="width: 120px;">Modelo</th>
                        <th class="text-right" style="width: 120px;">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OTPrePartidas)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.cantidad)</td>
                            <td>
                                <p class="font-w600 push-10">@Html.DisplayFor(modelItem => item.Servicio.clave)</p>
                                <div class="text-muted">@Html.DisplayFor(modelItem => item.Servicio.descripcion)</div>
                            </td>
                            <td class="text-right">@Html.DisplayFor(modelItem => item.serie)</td>
                            <td class="text-right">@Html.DisplayFor(modelItem => item.marca)</td>
                            <td class="text-right">@Html.DisplayFor(modelItem => item.modelo)</td>
                            <td class="text-right">$ @Html.DisplayFor(modelItem => item.precio)</td>
                        </tr>
                    }
                    <tr>
                        <td class="font-w600 text-right" colspan="5">Subtotal</td>
                        <td class="text-right">$ @Html.DisplayFor(modelItem => Model.subtotal)</td>
                    </tr>
                    <tr>
                        <td class="font-w600 text-right" colspan="5">IVA</td>
                        <td class="text-right">$ @Html.DisplayFor(modelItem => Model.iva)</td>
                    </tr>
                    <tr class="active">
                        <td class="font-w700 text-uppercase text-right" colspan="5">Total</td>
                        <td class="font-w700 text-right">$ @Html.DisplayFor(modelItem => Model.total)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END Table -->

    </div>
</div>

