@model GrupoThera.Entities.Models.Cotizacion.CotizacionModel
@{
    ViewBag.Title = "SearchOTPEdicionComponentes";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label" for="val-username">Cliente<span class="text-danger">*</span></label>
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.selectedCliente, Model.listCliente, new { @class = "form-control js-select2 required" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="val-username">Forma de Pago<span class="text-danger">*</span></label>
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.selectedFormaPago, Model.listFormaPago, new { @class = "form-control required" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="val-username">Clasificacion<span class="text-danger">*</span></label>
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.selectedClasificacionServicio, Model.listClasificacionServicio, new { @class = "form-control required" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="val-username">Moneda<span class="text-danger">*</span></label>
        <div class="col-md-7">
            @Html.DropDownListFor(model => model.selectedMoneda, Model.listMoneda, new { @class = "form-control required" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-xs-6">
            <label for="material-textarea-large">Comentarios de la Cotizacion</label>
            @Html.TextAreaFor(model => model.otpreliminar.comentarios, new { id = "comentarios", @class = "form-control", rows = "6", type = "text", placeholder = "Contenido", @Value = "123" })
        </div>
        <div class="col-xs-6">
            <label for="material-textarea-large">Direccion del Servicio</label>
            @Html.TextAreaFor(model => model.otpreliminar.direccionServicio, new { id = "direccionServicio", @class = "form-control", rows = "6", type = "text", placeholder = "Contenido", @Value = "123" })
        </div>
    </div>
</div>


